In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv('results_full.csv')
df.head()

,label,gender,profession,ideology_binary,ideology_multiclass
0,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left
1,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left
2,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left
3,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left
4,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left

In [29]:
def fix_mismatch(row):
    if row["ideology_binary"] == "left" and row["ideology_multiclass"] == "right":
        row["ideology_multiclass"] = "moderate_left"
    elif row["ideology_binary"] == "right" and row["ideology_multiclass"] == "left":
        row["ideology_multiclass"] = "moderate_right"
    return row

In [30]:
df = df.apply(fix_mismatch, axis=1)

In [40]:
df.head()

,label,gender,profession,ideology_binary,ideology_multiclass
0,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left
1,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left
2,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left
3,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left
4,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left

In [41]:
df_unique = df.drop_duplicates()
df_unique.head()

,label,gender,profession,ideology_binary,ideology_multiclass
0,015f536ad54d267bef6d9a08019f735f,male,journalist,right,left
80,0281b081d05d7eeeca8be8cd6fbda012,male,journalist,left,moderate_left
160,02847e9520c09383f0eef78bf0a2db3f,male,politician,left,moderate_left
240,02e0f6e09f29697d56432c85054b0c30,male,journalist,left,moderate_left
320,03056ef7c5f0da9e1c55b15d5fdd4f04,male,journalist,left,moderate_left

In [42]:
with open('results.csv', 'w') as f:
    df_unique.to_csv(f, index=False)